# Theory Questions

1. What are data structures, and why are they important ?

Data structures are effective methods for arranging and storing data so that it may be accessed and modified.

They are significant because they affect memory usage and temporal complexity by determining how efficient algorithms are. Arrays, lists, stacks, queues, sets, and dictionaries are a few examples.

2. Explain the difference between mutable and immutable data types with examples ?

Mutable: After creation, it can be changed.
Immutable: Unchangeable once created.

We can see with below example.

Tuple gives error

In [2]:
list_1 = [1, 2, 3]
list_1[0] = 4
print(list_1)

[4, 2, 3]

In [3]:
tuple_1 = (1,2,3)
tuple_1[0] = 4

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python ?

 Lists are slower, mutable, and utilized when frequent changes are required.

 Tuples: Used when data shouldn't change, they're speedier and immutable.

4. Describe how dictionaries store data ?
   A hash table is used by dictionaries to store information as key-value pairs.

  Fast lookups are made possible by hashing keys to find the location of their associated values in memory.

5. Why might you use a set instead of a list in Python ?
   - In Python, there are various reasons why you would want to use a set rather than a list:

   - Duplicate elements are automatically eliminated from a set to guarantee that each element is distinct.

   - Faster Membership Testing: Compared to a list (O(n)), it takes less time (average time complexity O(1)) to determine whether an element is present in a set.

   - Effective and simple operations like union, intersection, and difference are supported by sets, making them ideal for set operations.

   - Sets can be used in place of lists where the order of the components is irrelevant.
  When to stay away from sets:

   - If you have duplicate items or need to keep the pieces in order, use a list.

6. What is a string in Python, and how is it different from a list ?
   - In Python, a string is a collection of characters that are used to represent text and are surrounded by single or double quotes. Strings cannot be altered after they are formed because they are immutable. For instance:

   - my_string = "Hello World"

   - The main distinction between a string and a list is:
A list is a flexible, mutable collection that can contain any type of data, whereas a string is a fixed, immutable sequence of characters.

7.  How do tuples ensure data integrity in Python ?

   - Because they are immutable, tuples in Python guarantee data integrity. A tuple's elements cannot be changed, added, or removed after it has been constructed. The following advantages result from its immutability:

   - Protection Against Unintentional Changes: Tuples shield data from unintentional modification while a program is running since they cannot be changed.

   - Reliable Data Storage: Configuration values and other constant data that must stay the same throughout the application are best stored in tuples.

   - Hashability: If a tuple solely contains hashable elements, it can be used as a dictionary key or as an element in a set. This characteristic is essential for preserving distinct, immutable data.

   - Performance Optimization: Python may optimize tuples' memory usage and access time due to their immutability, which makes them faster than lists for some operations.

8. What is a hash table, and how does it relate to dictionaries in Python ?
   - A data structure that uses a hash function to map keys to values is called a hash table.

   - Python dictionaries are implemented as hash tables, which provide quick access and updates.

9. Can lists contain different data types in Python ?
   - Yes, Python lists can hold elements of various data types.

In [ ]:
my_list = [1, "hello", 3.14, [1, 2]]
my_list

[1, 'hello', 3.14, [1, 2]]

10.  Explain why strings are immutable in Python ?
     - Strings are immutable for performance and security reasons. Any modification creates a new string rather than altering the original.

11. What advantages do dictionaries offer over lists for certain tasks ?
    - Dictionaries provide faster lookups for key-value mappings, ideal for scenarios requiring quick data retrieval by unique keys.

12.  Describe a scenario where using a tuple would be preferable over a list ?
     - When you need constant data, like coordinates (x, y), where accidental modification should be avoided.

13. How do sets handle duplicate values in Python ?
    - Sets automatically remove duplicates and keep only unique components.

In [4]:
#question 13 example code
my_set = {1, 2, 2, 3,3}
my_set

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries ?
    - It determines whether a value exists for lists:

In [ ]:
#example code
1 in [1, 2, 3]

True

For dictionaries it checks keys

In [ ]:
#example code
'a' in {'a': 1, 'b': 2}

True

15. Can you modify the elements of a tuple? Explain why or why not ?
    - No, tuples cannot be changed. Elements' promise of immutability would be broken if they were modified. However, the objects themselves can be changed if a tuple contains changeable objects (like lists).

16. What is a nested dictionary, and give an example of its use case ?
    - A nested dictionary contains dictionaries as values.
    - Use case: Storing hierarchical data.

17. Describe the time complexity of accessing elements in a dictionary ?
    - Python's hash table implementation makes it generally very efficient to access elements in a dictionary.

    - Average Case: O(1) Dictionary keys are mapped to their values using a hash function. This results in constant-time complexity on average since the dictionary can access the value directly without iterating over all the keys.

    - O(n) is the worst case.
    Hash collisions can occasionally happen when several keys are hashed to the same value. Performance may suffer as a result, necessitating a linear search across the colliding keys. However, by using effective hash algorithms and resizing techniques, Python's dictionary implementation reduces these clashes.

    - Complexity Amortized: O(1)
    Even with sporadic collisions or resizing, Python's optimizations keep the overall speed for the majority of realistic use cases around constant time.

18.  In what situations are lists preferred over dictionaries ?
     - Ordered Data: Lists are perfect for situations where the data sequence is crucial because they preserve the elements' order.

     - Sequential Access: Lists work better when elements are accessed by their position (index) as opposed to a key.

     - Homogeneous Data: Lists are often used to store collections of similar or related data, such as numbers or strings, without requiring a key-value structure.

     - Simple Iteration: Iterating through a list is straightforward and efficient when you don’t need to associate values with unique keys.

     - Small Dataset: For small datasets where lookups are infrequent, lists can be simpler and more memory-efficient than dictionaries.

     - Dynamic Resizing: Lists are better suited when the size of the collection is frequently changing, as elements can be added or removed easily.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
    - Dictionaries (before Python 3.7) had no guaranteed order for keys. While insertion order is preserved in Python 3.7+, retrieval is still by key, not position.

20.  Explain the difference between a list and a dictionary in terms of data retrieval ?
     - Lists: Use an index to get items.

     - Dictionaries: Use the key to retrieve the elements.

# Practical Questions

1. Write a code to create a string with your name and print it ?

In [5]:

name = "Sai Prakash"
print(name)

Sai Prakash

2. Write a code to find the length of the string "Hello World" ?

In [6]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming" ?

In [7]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase ?

In [8]:
string = "hello"
print(string.upper())

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [9]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it ?

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [12]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [ ]:

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [ ]:

numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it ?

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [ ]:

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?

In [ ]:

my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

In [ ]:

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')  ?
fruits = ('apple', 'orange', 'banana')

In [ ]:

print('banana' in fruits)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?

In [ ]:

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4} ?

In [ ]:

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it ?

In [ ]:

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [ ]:

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?

In [ ]:

my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

In [ ]:

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana') ?

In [ ]:

fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?

In [ ]:

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4} ?

In [ ]:

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}